In [4]:
import numpy as np
import pandas as pd

## Read CSV File

In [33]:
df= pd.read_csv("mexico_covid19.csv")
df

,id,FECHA_ARCHIVO,ID_REGISTRO,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ENTIDAD,ABR_ENT,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,9269,2020-04-12,00011f,25,25,2,0,25,Sinaloa,SL,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,2020-04-12,00014e,14,14,2,0,14,Jalisco,JC,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,2020-04-12,000153,8,8,1,0,8,Chihuahua,CH,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,2020-04-12,0001b6,9,15,1,0,9,Ciudad de Mexico,DF,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,2020-04-12,0001c1,9,9,2,0,9,Ciudad de Mexico,DF,...,2,2,2,2,2,99,99,MÃ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263002,7094887,2020-06-03,1e019c,32,32,1,0,32,Zacatecas,ZS,...,2,2,2,2,2,1,99,MÃ©xico,99,97
263003,7053721,2020-06-03,1e2b05,12,12,1,0,12,Guerrero,GR,...,2,2,1,2,2,99,99,MÃ©xico,99,2
263004,7055429,2020-06-03,1e473f,20,20,1,0,20,Oaxaca,OC,...,2,2,2,1,2,99,99,MÃ©xico,99,2
263005,7043768,2020-06-03,1e6da1,13,13,1,0,13,Hidalgo,HG,...,2,2,2,2,2,2,99,MÃ©xico,99,2
263006,7093277,2020-06-03,1e8453,9,9,1,0,9,Ciudad de Mexico,DF,...,2,2,2,2,2,2,99,MÃ©xico,99,97

# Column Renaming

In [36]:
df.rename(columns = {'id':'ID', 'FECHA_ARCHIVO':'Data_Archieve','ID_REGISTRO':'Registration_ID','ENTIDAD_UM':'ENTITY','ENTIDAD_RES':'ENTITY_RESULT','RESULTADO':'OUTCOMES','ENTIDAD_REGISTRO':'REGISTRATION_ENTITY','ENTIDAD':'ENTITY','ABR_ENT':'APR_ENTITY','FECHA_ACTUALIZATION':'DATE_UPDATE',
                      'ORIGEN':'SOURCE', 'SECTOR':'SECTOR', 'SEXO':'SEX','ENTIDAD_NAC':'NAC_ENTITY','MUNICIPIO_RES':'MUNICIPALITY_RESULT','TIPO_PACIENTE':'PATIENT_TYPE','FECHA_INGRRSO':'ADMISSION_DATE','FECHA_SINTOMAS':'DATE_SYMPTOMS','FECHA_DEF':'DATE_DEF','INTUBADO':'INTUBATED','NEUMONIA':'PNEUMONIA','EDAD':'AGE','NACIONALIDAD':'NATIONALITY',
                    'EMBARAZO':'PREGNANCY','HABLA_LENGUA_INDIG':'SPEAK_LINGUA_INDIG','EPOC':'COPD','ASMA':'ASTHMA','OTRA_COM':'ANOTHER_COM','OBESIDAD':'OBESITY','RENAL_CRONICA':'KIDNEY_CHRONICLE','TABAQUISMO':'SMOKING','OTRO_CASO':'ANOTHER_CASE','MIGRANTE':'MIgrant','PAIS_NACIONALIDAD':'COUNTRY_NATIONALITY','PAIS_ORIGEN':'COUNTRY_ORIGIN','UCI':'ICU'},inplace=True
                    )

In [37]:
df

,ID,Data_Archieve,Registration_ID,ENTITY,ENTITY_RESULT,OUTCOMES,DELAY,REGISTRATION_ENTITY,ENTITY,APR_ENTITY,...,ANOTHER_COM,CARDIOVASCULAR,OBESITY,KIDNEY_CHRONICLE,SMOKING,ANOTHER_CASE,MIgrant,COUNTRY_NATIONALITY,COUNTRY_ORIGIN,ICU
0,9269,2020-04-12,00011f,25,25,2,0,25,Sinaloa,SL,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,2020-04-12,00014e,14,14,2,0,14,Jalisco,JC,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,2020-04-12,000153,8,8,1,0,8,Chihuahua,CH,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,2020-04-12,0001b6,9,15,1,0,9,Ciudad de Mexico,DF,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,2020-04-12,0001c1,9,9,2,0,9,Ciudad de Mexico,DF,...,2,2,2,2,2,99,99,MÃ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263002,7094887,2020-06-03,1e019c,32,32,1,0,32,Zacatecas,ZS,...,2,2,2,2,2,1,99,MÃ©xico,99,97
263003,7053721,2020-06-03,1e2b05,12,12,1,0,12,Guerrero,GR,...,2,2,1,2,2,99,99,MÃ©xico,99,2
263004,7055429,2020-06-03,1e473f,20,20,1,0,20,Oaxaca,OC,...,2,2,2,1,2,99,99,MÃ©xico,99,2
263005,7043768,2020-06-03,1e6da1,13,13,1,0,13,Hidalgo,HG,...,2,2,2,2,2,2,99,MÃ©xico,99,2
263006,7093277,2020-06-03,1e8453,9,9,1,0,9,Ciudad de Mexico,DF,...,2,2,2,2,2,2,99,MÃ©xico,99,97

In [10]:
df.columns

Index(['id', 'FECHA_ARCHIVO', 'ID_REGISTRO', 'ENTIDAD_UM', 'ENTIDAD_RES',
       'RESULTADO', 'DELAY', 'ENTIDAD_REGISTRO', 'ENTIDAD', 'ABR_ENT',
       'FECHA_ACTUALIZACION', 'ORIGEN', 'SECTOR', 'SEXO', 'ENTIDAD_NAC',
       'MUNICIPIO_RES', 'TIPO_PACIENTE', 'FECHA_INGRESO', 'FECHA_SINTOMAS',
       'FECHA_DEF', 'INTUBADO', 'NEUMONIA', 'EDAD', 'NACIONALIDAD', 'EMBARAZO',
       'HABLA_LENGUA_INDIG', 'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR',
       'HIPERTENSION', 'OTRA_COM', 'CARDIOVASCULAR', 'OBESIDAD',
       'RENAL_CRONICA', 'TABAQUISMO', 'OTRO_CASO', 'MIGRANTE',
       'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [18]:
df[2:5]

,id,FECHA_ARCHIVO,ID_REGISTRO,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ENTIDAD,ABR_ENT,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
2,35483,2020-04-12,000153,8,8,1,NaN,8,Chihuahua,CH,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,2020-04-12,0001b6,9,15,1,NaN,9,Ciudad de Mexico,DF,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,2020-04-12,0001c1,9,9,2,NaN,9,Ciudad de Mexico,DF,...,2,2,2,2,2,99,99,MÃ©xico,97,97

### PRINT A COLUMN

In [19]:
df.ENTIDAD

0                  Sinaloa
1                  Jalisco
2                Chihuahua
3         Ciudad de Mexico
4         Ciudad de Mexico
                ...
263002           Zacatecas
263003            Guerrero
263004              Oaxaca
263005             Hidalgo
263006    Ciudad de Mexico
Name: ENTIDAD, Length: 263007, dtype: object

#### INSERT FIRST ROW

In [20]:
df.tail(1)

,id,FECHA_ARCHIVO,ID_REGISTRO,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ENTIDAD,ABR_ENT,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
263006,7093277,2020-06-03,1e8453,9,9,1,NaN,9,Ciudad de Mexico,DF,...,2,2,2,2,2,2,99,MÃ©xico,99,97

### show only three columns

In [21]:
df[['id','FECHA_ARCHIVO','RENAL_CRONICA']]

             id FECHA_ARCHIVO  RENAL_CRONICA
0          9269    2020-04-12              2
1         33333    2020-04-12              2
2         35483    2020-04-12              2
3          7062    2020-04-12              2
4         23745    2020-04-12              2
...         ...           ...            ...
263002  7094887    2020-06-03              2
263003  7053721    2020-06-03              2
263004  7055429    2020-06-03              1
263005  7043768    2020-06-03              2
263006  7093277    2020-06-03              2

[263007 rows x 3 columns]

## Count NAN VALUE IN THE DATAFRAME

In [17]:
df.isna().sum()

ID                     0
Data_Archieve          0
Registration_ID        0
ENTIDAD_UM             0
ENTITY_RESULT          0
OUTCOMES               0
DELAY                  0
REGISTRATION_ENTITY    0
ENTITY                 0
APR_ENTITY             0
FECHA_ACTUALIZACION    0
SOURCE                 0
SECTOR                 0
SEX                    0
NAC_ENTITY             0
MUNICIPALITY_RESULT    6
PATIENT_TYPE           0
FECHA_INGRESO          0
DATE_SYMPTOMS          0
DATE_DEF               0
INTUBATED              0
PNEUMONIA              0
AGE                    0
NATIONALITY            0
PREGNANCY              0
SPEAK_LINGUA_INDIG     0
DIABETES               0
COPD                   0
ASTHMA                 0
INMUSUPR               0
HIPERTENSION           0
ANOTHER_COM            0
CARDIOVASCULAR         0
OBESITY                0
KIDNEY_CHRONICLE       0
SMOKING                0
ANOTHER_CASE           0
MIgrant                0
COUNTRY_NATIONALITY    0
COUNTRY_ORIGIN         0
ICU                    0
dtype: int64

In [18]:
df.isna().sum().sum()

6

In [19]:
df = pd.DataFrame(df)
df

,ID,Data_Archieve,Registration_ID,ENTIDAD_UM,ENTITY_RESULT,OUTCOMES,DELAY,REGISTRATION_ENTITY,ENTITY,APR_ENTITY,...,ANOTHER_COM,CARDIOVASCULAR,OBESITY,KIDNEY_CHRONICLE,SMOKING,ANOTHER_CASE,MIgrant,COUNTRY_NATIONALITY,COUNTRY_ORIGIN,ICU
0,9269,2020-04-12,00011f,25,25,2,0,25,Sinaloa,SL,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,2020-04-12,00014e,14,14,2,0,14,Jalisco,JC,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,2020-04-12,000153,8,8,1,0,8,Chihuahua,CH,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,2020-04-12,0001b6,9,15,1,0,9,Ciudad de Mexico,DF,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,2020-04-12,0001c1,9,9,2,0,9,Ciudad de Mexico,DF,...,2,2,2,2,2,99,99,MÃ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263002,7094887,2020-06-03,1e019c,32,32,1,0,32,Zacatecas,ZS,...,2,2,2,2,2,1,99,MÃ©xico,99,97
263003,7053721,2020-06-03,1e2b05,12,12,1,0,12,Guerrero,GR,...,2,2,1,2,2,99,99,MÃ©xico,99,2
263004,7055429,2020-06-03,1e473f,20,20,1,0,20,Oaxaca,OC,...,2,2,2,1,2,99,99,MÃ©xico,99,2
263005,7043768,2020-06-03,1e6da1,13,13,1,0,13,Hidalgo,HG,...,2,2,2,2,2,2,99,MÃ©xico,99,2
263006,7093277,2020-06-03,1e8453,9,9,1,0,9,Ciudad de Mexico,DF,...,2,2,2,2,2,2,99,MÃ©xico,99,97

## SUPPLY DICTIONARY FOR SET INDEX

In [9]:
import pandas as pd
df = pd.read_csv("mexico_covid19.csv",na_values={
    
    'DELAY' : ["not available","n.a.",0]
})
df

,id,FECHA_ARCHIVO,ID_REGISTRO,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ENTIDAD,ABR_ENT,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,9269,2020-04-12,00011f,25,25,2,NaN,25,Sinaloa,SL,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,2020-04-12,00014e,14,14,2,NaN,14,Jalisco,JC,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,2020-04-12,000153,8,8,1,NaN,8,Chihuahua,CH,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,2020-04-12,0001b6,9,15,1,NaN,9,Ciudad de Mexico,DF,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,2020-04-12,0001c1,9,9,2,NaN,9,Ciudad de Mexico,DF,...,2,2,2,2,2,99,99,MÃ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263002,7094887,2020-06-03,1e019c,32,32,1,NaN,32,Zacatecas,ZS,...,2,2,2,2,2,1,99,MÃ©xico,99,97
263003,7053721,2020-06-03,1e2b05,12,12,1,NaN,12,Guerrero,GR,...,2,2,1,2,2,99,99,MÃ©xico,99,2
263004,7055429,2020-06-03,1e473f,20,20,1,NaN,20,Oaxaca,OC,...,2,2,2,1,2,99,99,MÃ©xico,99,2
263005,7043768,2020-06-03,1e6da1,13,13,1,NaN,13,Hidalgo,HG,...,2,2,2,2,2,2,99,MÃ©xico,99,2
263006,7093277,2020-06-03,1e8453,9,9,1,NaN,9,Ciudad de Mexico,DF,...,2,2,2,2,2,2,99,MÃ©xico,99,97

## Maximum value of tabaquismo

In [17]:
df['TABAQUISMO'].max()

98

## Limitation for entidad_um column

In [11]:
df[df.ENTIDAD_UM>=32]

,id,FECHA_ARCHIVO,ID_REGISTRO,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ENTIDAD,ABR_ENT,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
28,5687,2020-04-12,000947,32,32,2,NaN,32,Zacatecas,ZS,...,1,2,2,2,2,1,99,MÃ©xico,97,97
44,35105,2020-04-12,000da7,32,32,2,NaN,32,Zacatecas,ZS,...,2,2,2,2,2,2,99,99,97,97
64,35422,2020-04-12,0013da,32,32,2,NaN,32,Zacatecas,ZS,...,2,2,2,2,2,1,99,MÃ©xico,97,97
197,9169,2020-04-12,003e61,32,32,2,NaN,32,Zacatecas,ZS,...,2,1,2,2,2,99,99,MÃ©xico,97,97
226,28522,2020-04-12,0045d2,32,32,2,NaN,32,Zacatecas,ZS,...,2,2,2,2,2,99,99,MÃ©xico,97,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262067,7097991,2020-06-03,1727f0,32,32,1,NaN,32,Zacatecas,ZS,...,2,2,2,2,2,2,99,MÃ©xico,99,97
262374,7047135,2020-06-03,1c09fc,32,32,1,NaN,32,Zacatecas,ZS,...,2,2,1,2,2,2,99,MÃ©xico,99,2
262625,7216684,2020-06-03,061f24,32,32,2,NaN,32,Zacatecas,ZS,...,2,2,2,2,2,2,99,MÃ©xico,99,97
262822,7233988,2020-06-03,11fb26,32,32,2,NaN,32,Zacatecas,ZS,...,2,2,2,2,2,1,99,MÃ©xico,99,97
263002,7094887,2020-06-03,1e019c,32,32,1,NaN,32,Zacatecas,ZS,...,2,2,2,2,2,1,99,MÃ©xico,99,97

In [14]:
df['EDAD'].std()

16.903824487378323

## MAXIMUM AGED PEOPLE DATA

In [15]:
df[df.EDAD == df['EDAD'].max()]

,id,FECHA_ARCHIVO,ID_REGISTRO,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ENTIDAD,ABR_ENT,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
59344,752892,2020-04-26,032079,19,19,2,NaN,19,Nuevo Leon,NL,...,2,2,2,2,2,2,99,MÃ©xico,99,97
136001,2843376,2020-05-15,09ffba,1,1,2,NaN,1,Aguascalientes,AS,...,2,2,2,2,2,1,99,MÃ©xico,99,97
214920,5146709,2020-05-27,17422d,20,20,1,NaN,20,Oaxaca,OC,...,2,2,2,2,2,2,99,MÃ©xico,99,97

In [18]:
new_df = df.replace({
    0:np.NAN
})
new_df

,id,FECHA_ARCHIVO,ID_REGISTRO,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ENTIDAD,ABR_ENT,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,9269.0,2020-04-12,00011f,25.0,25.0,2.0,NaN,25.0,Sinaloa,SL,...,2.0,2.0,1.0,2.0,2.0,2.0,99.0,MÃ©xico,97,97.0
1,33333.0,2020-04-12,00014e,14.0,14.0,2.0,NaN,14.0,Jalisco,JC,...,2.0,2.0,1.0,2.0,1.0,99.0,99.0,MÃ©xico,97,2.0
2,35483.0,2020-04-12,000153,8.0,8.0,1.0,NaN,8.0,Chihuahua,CH,...,2.0,2.0,2.0,2.0,2.0,99.0,99.0,MÃ©xico,97,2.0
3,7062.0,2020-04-12,0001b6,9.0,15.0,1.0,NaN,9.0,Ciudad de Mexico,DF,...,2.0,2.0,1.0,2.0,2.0,99.0,99.0,MÃ©xico,97,97.0
4,23745.0,2020-04-12,0001c1,9.0,9.0,2.0,NaN,9.0,Ciudad de Mexico,DF,...,2.0,2.0,2.0,2.0,2.0,99.0,99.0,MÃ©xico,97,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263002,7094887.0,2020-06-03,1e019c,32.0,32.0,1.0,NaN,32.0,Zacatecas,ZS,...,2.0,2.0,2.0,2.0,2.0,1.0,99.0,MÃ©xico,99,97.0
263003,7053721.0,2020-06-03,1e2b05,12.0,12.0,1.0,NaN,12.0,Guerrero,GR,...,2.0,2.0,1.0,2.0,2.0,99.0,99.0,MÃ©xico,99,2.0
263004,7055429.0,2020-06-03,1e473f,20.0,20.0,1.0,NaN,20.0,Oaxaca,OC,...,2.0,2.0,2.0,1.0,2.0,99.0,99.0,MÃ©xico,99,2.0
263005,7043768.0,2020-06-03,1e6da1,13.0,13.0,1.0,NaN,13.0,Hidalgo,HG,...,2.0,2.0,2.0,2.0,2.0,2.0,99.0,MÃ©xico,99,2.0
263006,7093277.0,2020-06-03,1e8453,9.0,9.0,1.0,NaN,9.0,Ciudad de Mexico,DF,...,2.0,2.0,2.0,2.0,2.0,2.0,99.0,MÃ©xico,99,97.0

## replace column data of ENTIDAD

In [19]:
new_df = df.replace(['Sinaloa','Jalisco','Chihuahua','Ciudad de Mexico'],[1,2,3,4])
new_df

,id,FECHA_ARCHIVO,ID_REGISTRO,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ENTIDAD,ABR_ENT,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,9269,2020-04-12,00011f,25,25,2,NaN,25,1,SL,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,2020-04-12,00014e,14,14,2,NaN,14,2,JC,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,2020-04-12,000153,8,8,1,NaN,8,3,CH,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,2020-04-12,0001b6,9,15,1,NaN,9,4,DF,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,2020-04-12,0001c1,9,9,2,NaN,9,4,DF,...,2,2,2,2,2,99,99,MÃ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263002,7094887,2020-06-03,1e019c,32,32,1,NaN,32,Zacatecas,ZS,...,2,2,2,2,2,1,99,MÃ©xico,99,97
263003,7053721,2020-06-03,1e2b05,12,12,1,NaN,12,Guerrero,GR,...,2,2,1,2,2,99,99,MÃ©xico,99,2
263004,7055429,2020-06-03,1e473f,20,20,1,NaN,20,Oaxaca,OC,...,2,2,2,1,2,99,99,MÃ©xico,99,2
263005,7043768,2020-06-03,1e6da1,13,13,1,NaN,13,Hidalgo,HG,...,2,2,2,2,2,2,99,MÃ©xico,99,2
263006,7093277,2020-06-03,1e8453,9,9,1,NaN,9,4,DF,...,2,2,2,2,2,2,99,MÃ©xico,99,97

In [21]:
df

,id,FECHA_ARCHIVO,ID_REGISTRO,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ENTIDAD,ABR_ENT,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,9269,2020-04-12,00011f,25,25,2,NaN,25,Sinaloa,SL,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,2020-04-12,00014e,14,14,2,NaN,14,Jalisco,JC,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,2020-04-12,000153,8,8,1,NaN,8,Chihuahua,CH,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,2020-04-12,0001b6,9,15,1,NaN,9,Ciudad de Mexico,DF,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,2020-04-12,0001c1,9,9,2,NaN,9,Ciudad de Mexico,DF,...,2,2,2,2,2,99,99,MÃ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263002,7094887,2020-06-03,1e019c,32,32,1,NaN,32,Zacatecas,ZS,...,2,2,2,2,2,1,99,MÃ©xico,99,97
263003,7053721,2020-06-03,1e2b05,12,12,1,NaN,12,Guerrero,GR,...,2,2,1,2,2,99,99,MÃ©xico,99,2
263004,7055429,2020-06-03,1e473f,20,20,1,NaN,20,Oaxaca,OC,...,2,2,2,1,2,99,99,MÃ©xico,99,2
263005,7043768,2020-06-03,1e6da1,13,13,1,NaN,13,Hidalgo,HG,...,2,2,2,2,2,2,99,MÃ©xico,99,2
263006,7093277,2020-06-03,1e8453,9,9,1,NaN,9,Ciudad de Mexico,DF,...,2,2,2,2,2,2,99,MÃ©xico,99,97

In [25]:
new_df = df.fillna(0)
new_df

,id,FECHA_ARCHIVO,ID_REGISTRO,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ENTIDAD,ABR_ENT,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,9269,2020-04-12,00011f,25,25,2,0.0,25,Sinaloa,SL,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,2020-04-12,00014e,14,14,2,0.0,14,Jalisco,JC,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,2020-04-12,000153,8,8,1,0.0,8,Chihuahua,CH,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,2020-04-12,0001b6,9,15,1,0.0,9,Ciudad de Mexico,DF,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,2020-04-12,0001c1,9,9,2,0.0,9,Ciudad de Mexico,DF,...,2,2,2,2,2,99,99,MÃ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263002,7094887,2020-06-03,1e019c,32,32,1,0.0,32,Zacatecas,ZS,...,2,2,2,2,2,1,99,MÃ©xico,99,97
263003,7053721,2020-06-03,1e2b05,12,12,1,0.0,12,Guerrero,GR,...,2,2,1,2,2,99,99,MÃ©xico,99,2
263004,7055429,2020-06-03,1e473f,20,20,1,0.0,20,Oaxaca,OC,...,2,2,2,1,2,99,99,MÃ©xico,99,2
263005,7043768,2020-06-03,1e6da1,13,13,1,0.0,13,Hidalgo,HG,...,2,2,2,2,2,2,99,MÃ©xico,99,2
263006,7093277,2020-06-03,1e8453,9,9,1,0.0,9,Ciudad de Mexico,DF,...,2,2,2,2,2,2,99,MÃ©xico,99,97

In [26]:
new_df = df.fillna(method="bfill")
new_df

,id,FECHA_ARCHIVO,ID_REGISTRO,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ENTIDAD,ABR_ENT,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,9269,2020-04-12,00011f,25,25,2,NaN,25,Sinaloa,SL,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,2020-04-12,00014e,14,14,2,NaN,14,Jalisco,JC,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,2020-04-12,000153,8,8,1,NaN,8,Chihuahua,CH,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,2020-04-12,0001b6,9,15,1,NaN,9,Ciudad de Mexico,DF,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,2020-04-12,0001c1,9,9,2,NaN,9,Ciudad de Mexico,DF,...,2,2,2,2,2,99,99,MÃ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263002,7094887,2020-06-03,1e019c,32,32,1,NaN,32,Zacatecas,ZS,...,2,2,2,2,2,1,99,MÃ©xico,99,97
263003,7053721,2020-06-03,1e2b05,12,12,1,NaN,12,Guerrero,GR,...,2,2,1,2,2,99,99,MÃ©xico,99,2
263004,7055429,2020-06-03,1e473f,20,20,1,NaN,20,Oaxaca,OC,...,2,2,2,1,2,99,99,MÃ©xico,99,2
263005,7043768,2020-06-03,1e6da1,13,13,1,NaN,13,Hidalgo,HG,...,2,2,2,2,2,2,99,MÃ©xico,99,2
263006,7093277,2020-06-03,1e8453,9,9,1,NaN,9,Ciudad de Mexico,DF,...,2,2,2,2,2,2,99,MÃ©xico,99,97

In [27]:
df.describe()

,id,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ORIGEN,SECTOR,SEXO,ENTIDAD_NAC,...,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,UCI
count,2.630070e+05,263007.000000,263007.000000,263007.000000,0.0,263007.000000,263007.000000,263007.000000,263007.000000,263007.000000,...,263007.000000,263007.000000,263007.000000,263007.000000,263007.000000,263007.000000,263007.000000,263007.000000,263007.000000,263007.000000
mean,2.946176e+06,14.844601,15.127719,1.609672,NaN,15.092271,1.635789,9.601680,1.510682,19.691004,...,2.359667,2.174185,2.453961,2.324980,2.184763,2.320231,2.268217,32.283764,98.593680,74.541012
std,2.212368e+06,8.001043,7.904314,0.487825,NaN,7.915406,0.481209,7.265468,0.499887,19.378113,...,6.021830,5.745114,6.850231,5.796086,5.817362,5.722995,5.867586,45.350310,6.275497,40.384991
min,1.000000e+00,1.000000,1.000000,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,8.689635e+05,9.000000,9.000000,1.000000,NaN,9.000000,1.000000,4.000000,1.000000,9.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,99.000000,97.000000
50%,2.733242e+06,14.000000,15.000000,2.000000,NaN,15.000000,2.000000,12.000000,2.000000,15.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,99.000000,97.000000
75%,4.789668e+06,21.000000,21.000000,2.000000,NaN,21.000000,2.000000,12.000000,2.000000,24.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,99.000000,99.000000,97.000000
max,7.277125e+06,32.000000,32.000000,2.000000,NaN,32.000000,2.000000,99.000000,2.000000,99.000000,...,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,99.000000,99.000000,99.000000

## Drop multiple specific column

In [30]:
df

,id,FECHA_ARCHIVO,ID_REGISTRO,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ENTIDAD,ABR_ENT,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,9269,2020-04-12,00011f,25,25,2,NaN,25,Sinaloa,SL,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,2020-04-12,00014e,14,14,2,NaN,14,Jalisco,JC,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,2020-04-12,000153,8,8,1,NaN,8,Chihuahua,CH,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,2020-04-12,0001b6,9,15,1,NaN,9,Ciudad de Mexico,DF,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,2020-04-12,0001c1,9,9,2,NaN,9,Ciudad de Mexico,DF,...,2,2,2,2,2,99,99,MÃ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263002,7094887,2020-06-03,1e019c,32,32,1,NaN,32,Zacatecas,ZS,...,2,2,2,2,2,1,99,MÃ©xico,99,97
263003,7053721,2020-06-03,1e2b05,12,12,1,NaN,12,Guerrero,GR,...,2,2,1,2,2,99,99,MÃ©xico,99,2
263004,7055429,2020-06-03,1e473f,20,20,1,NaN,20,Oaxaca,OC,...,2,2,2,1,2,99,99,MÃ©xico,99,2
263005,7043768,2020-06-03,1e6da1,13,13,1,NaN,13,Hidalgo,HG,...,2,2,2,2,2,2,99,MÃ©xico,99,2
263006,7093277,2020-06-03,1e8453,9,9,1,NaN,9,Ciudad de Mexico,DF,...,2,2,2,2,2,2,99,MÃ©xico,99,97

In [31]:
df.drop(['FECHA_ARCHIVO','ID_REGISTRO','ENTIDAD','FECHA_ACTUALIZACION','EDAD','FECHA_SINTOMAS'],
        axis=1 , inplace= True)

In [32]:
df

,id,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ABR_ENT,ORIGEN,SECTOR,SEXO,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,9269,25,25,2,NaN,25,SL,2,12,2,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,14,14,2,NaN,14,JC,1,4,1,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,8,8,1,NaN,8,CH,1,4,2,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,9,15,1,NaN,9,DF,2,4,1,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,9,9,2,NaN,9,DF,1,4,1,...,2,2,2,2,2,99,99,MÃ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263002,7094887,32,32,1,NaN,32,ZS,2,12,2,...,2,2,2,2,2,1,99,MÃ©xico,99,97
263003,7053721,12,12,1,NaN,12,GR,2,4,1,...,2,2,1,2,2,99,99,MÃ©xico,99,2
263004,7055429,20,20,1,NaN,20,OC,1,4,1,...,2,2,2,1,2,99,99,MÃ©xico,99,2
263005,7043768,13,13,1,NaN,13,HG,2,12,2,...,2,2,2,2,2,2,99,MÃ©xico,99,2
263006,7093277,9,9,1,NaN,9,DF,2,12,1,...,2,2,2,2,2,2,99,MÃ©xico,99,97